<div class="block-2-cols-layout container">
	<div class="row">
		<div class="block-2-cols-layout-side">{{wpbb_render_sub_blocks('side_column')}}</div>
		<div class="block-2-cols-layout-main">{{wpbb_render_sub_blocks('main_column')}}</div>
	</div>
</div>