{% extends "block-preview-base.twig" %}
{% block preview %}
	<div class="row">
		<div class="col-md-4">{{wpbb_render_block_space('side_column')}}</div>
		<div class="col-md-8">{{wpbb_render_block_space('main_column')}}</div>
	</div>
{% endblock %}