<div class="block-3-cols-layout">
	<div class="block-3-cols-layout-container">
		<div class="block-3-cols-layout-side">{{wpbb_render_sub_blocks('side_column_lf')}}</div>
		<div class="block-3-cols-layout-main">{{wpbb_render_sub_blocks('main_column')}}</div>
		<div class="block-3-cols-layout-side">{{wpbb_render_sub_blocks('side_column_rg')}}</div>
	</div>
</div>